---
import Layout from "../layouts/Layout.astro";
---

<Layout showFooter={false}>
  <section>
    <h1>Développeur Web</h1>

    <div id="portrait"></div>

    <div class="paragraphs">
      <p>
        Actuellement en école d’ingénieur à <b>Junia Bordeaux</b>, j’ai effectué
        une année en alternance chez <b>Feelity</b> en tant que développeur backend.
        Je suis maintenant alternant fullstack à <b>La Banque Postale</b>.
      </p>

      <p>
        En parallèle, je suis <b>auto-entrepreneur</b> et développe des sites pour
        des clients.
      </p>
    </div>

    <div class="links">
      <a target="_blank" href="/CV.pdf">
        <span class="arrow">--></span>
        <span class="link">Mon CV</span>
      </a>
      <a target="_blank" href="https://github.com/MatthieuMarchand">
        <span class="arrow">--></span>
        <span class="link">Mon GitHub</span>
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/matthieu-marchand-dev/"
      >
        <span class="arrow">--></span>
        <span class="link">Mon LinkedIn</span>
      </a>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "../assets/styles/v.scss";

  #portrait {
    position: relative;
    // dimension de l'image : 600 x 740
    $width: 8rem;
    width: $width;
    height: calc(740px * $width / 600px);
    border: 1px solid v.$color-black;
    background-image: url("/public/portrait_matthieu_marchand-draw.webp");
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;

      background-image: url("/public/portrait_matthieu_marchand-photo.webp");
      background-size: cover;
      filter: invert(0);
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &.dark-mode::after {
      filter: invert(1);
      opacity: 1;
      transition: all 0.5s ease-out;
    }
  }

  h1 {
    font-family: v.$font-primary-italic;
    font-size: v.$font-size-large;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
