// ------<< COLORS >>------
$color-black: #202020;
$color-white: #f6f6f6;

// ------<< FONTS >>------
$font-primary: "Merriweather_Light";
$font-primary-bolditalic: "Merriweather_Italic";
$font-primary-italic: "Merriweather_LightItalic";
$font-secondary: "EBGaramond_Italic";
$font-arrow-small: "Inter_Light";
$font-arrow-large: "Inter_ExtraLightItalic";

$font-size-small: 12px;
$font-size-medium: 22px;
$font-size-large: 20px;

%font-secondary {
  font-family: $font-secondary;
  font-size: $font-size-medium;
  line-height: 125%;
}

@font-face {
  font-family: "Merriweather_Light";
  src: url(@assets/fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: "Merriweather_LightItalic";
  src: url(@assets/fonts/Merriweather-LightItalic.ttf);
}
@font-face {
  //todo: delete
  font-family: "Merriweather_Regular";
  src: url(@assets/fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "Merriweather_Italic";
  src: url(@assets/fonts/Merriweather-Italic.ttf);
}
@font-face {
  //todo: delete
  font-family: "Merriweather_Bold";
  src: url(@assets/fonts/Merriweather-Bold.ttf);
}
@font-face {
  //todo: delete
  font-family: "Merriweather_BoldItalic";
  src: url(@assets/fonts/Merriweather-BoldItalic.ttf);
}
@font-face {
  font-family: "EBGaramond_Italic";
  src: url(@assets/fonts/EBGaramond-Italic.ttf);
}
@font-face {
  font-family: "Inter_Light";
  src: url(@assets/fonts/Inter_18pt-Light.ttf);
}
@font-face {
  font-family: "Inter_ExtraLightItalic";
  src: url(@assets/fonts/Inter_18pt-ExtraLightItalic.ttf);
}
